<!--Note: sidebars inside posts (e.g. tables of contents) are defined in res/css/custom.css-->
<nav>
  <div class="website-menu" style="float: left;">
    <a href="{{ site.baseurl }}/{{ site.t[page.lang].homeurl }}">
      <div class="site-name logo">{{ site.title }}</div>
      <div class="site-tagline">{{ site.t[page.lang].tagline }}</div>
    </a>
  </div>
  {% comment %}
  Generate the top bar with site name, tagline, and translations of current page
  {% endcomment %}
  <div class="lang-bar">
    {% assign langversions = site.pages | where:"lref",page.lref | sort:"lang" %}
    {% for version in langversions %}
      <a href="{{ version.url }}" class="{{ version.lang }}">{{ version.lang | upcase }}</a>
    {% endfor %}
  </div>
  <div class="menu">
    {% comment %}
      The code below dynamically generates a list of section links
      with language matching the current page.
    {% endcomment %}

    {% assign section_list = site.pages | where:"lang",page.lang | sort:"menuorder","last" %}
    {% for node in section_list %}
      {% if node.layout == "section" %}
          <a{% if page.url == node.url %} class="active"{% endif %} href="{{ node.url }}">{{ node.title }}</a>
      {% endif %}
    {% endfor %}

    <a href="https://github.com/qwertie/ungglish/issues">{{ site.t[page.lang].issueslink }}</a>
    <!--<a href="{{ site.github.repo }}">GitHub Repo</a>-->
    <a href="https://github.com/qwertie/ungglish/blob/master/dictionary.les3">Dictionary [raw]</a>
    <a href="{{ site.baseurl }}/blog">Blog</a>
  </div>
</nav>
